<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=".">
        {% csrf_token %}
        
        <label >Title:</label>
        <input type="text"  name="title"><br><br>
        <label >Content:</label>
        <input type="text" name="content"><br><br>
        <label >Price:</label>
        <input type="text"  name="price"><br><br>
        <input type="submit" value="Submit">



    </form>

    <h1>{{Title}}</h1>
    <h1>{{content}}</h1>
    <h1>{{price}}</h1>
    
</body>
</html>